<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../css/footer.css" />
<title>userDetails</title>
</head>
<body>
 
<nav class="navbar navbar-inverse">
					<ul class="nav navbar-nav"> 
							<li><a href="/">Home</a></li>
						     <li><a href="register">Rejestracja</a></li> 
						     <li><a href="login">Logowanie</a></li> 
						     

					</ul>
	<div class="imagese"><img th:src="@{/images/banner.png}" > </div>
<div class="loggedIn">User logged in as :  </div>
</nav>



<div class="container">



<form action="getUserById" method="post">
<input class="form-control form-group" path="id"   name="id" />
<button> OK</button>

</form>


<div th:text="${user}"></div>

</div>





</body>
</html>