<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	
<link rel="stylesheet" type="text/css" href="../css/footer.css" />

<!--script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<title>userDetails</title>
</head>
<body>
 
<nav class="navbar navbar-inverse">
					<ul class="nav navbar-nav"> 
							<li><a href="/">Home</a></li>
						     <li><a href="register">Rejestracja</a></li> 
						     <li><a href="login">Logowanie</a></li> 
						     

					</ul>
	<div class="imagese"><img th:src="@{/images/banner.png}" > </div>
<div class="loggedIn">User logged in as :  </div>
</nav>



<div class="container">



<form action="getUserById" method="post">
<input class="form-control form-group" path="id"   name="id" />
<button> OK</button>

</form>


<div th:text="${user}"></div>

<div ng-app="myApp" ng-controller="customersCtrl"> 

<table   class="table table responsive">
  <tr ng-repeat="x in names">
     <td>  {{ x.name }} </td>
     <td>  {{ x.email }} </td>
     <td>  {{ x.password }} </td>
     <td>  {{ x.userDetails.age }} </td>
     
  </tr>
</table>

</div>

</div>




<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("http://localhost:8080/api/users")
    .then(function (response) {$scope.names = response.data;});
});
</script>

</body>
</html>